@media screen and (min-width: 768px) {

    fieldset {
        text-align: center;
    }

    .decoracion {
        text-align: center;
    }

    .renacer, .susanaBalbo, .riccitelli, .rosell, .catena, .casaVigil, .trapiche, .santaJulia, .agostino, .argentia, .abeja, .bianchi, .algodon, .suter, .rivier, .superUco, .andeluna, .corazon, .alfa, .zuccardi {
        width: auto;
        height: auto;
    }
}