@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gantari', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right top, #10BC10, #31ED31, #2AB67B, #11A7BB);
}

.color:hover {
    background-color: rgba(103, 123, 176, 0.3);
    height: 40px;
}

.menu {
    background-color: rgba(163, 235, 177, 0.5);
    font-size: 25px;
    margin: 10px 0px;
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

a {
    color: black;
}

.tamano {
    width: 130px;
    height: 130px;
}

.size {
    font-size: larger;
    font-weight: bold;
}

p {
    margin: 30px 0px 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.mediana {
    width: 450px;
    height: 290px;
}

.mediana:hover {
    filter: grayscale(60%);
}

.pequeno {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.decoracion {
    text-decoration: none;
}

.fotos {
    height: 150px;
    width: 200px;
}

.padreFlexible {
    /*background-color: #677bb0;*/
    height: 1300px;
    /*width: 650px;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
 
h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
}

footer {
    margin: 15px 0px;
}

.renacer {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.susanaBalbo {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.riccitelli {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rosell {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.catena {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.casaVigil {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.trapiche {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.santaJulia {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.agostino {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.argentia {
    background-color: rgba(153, 192, 185, 0.5);
    width: 650px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.style {
    list-style: none;
}

.sunsets {
    background-color: rgba(153, 192, 185, 0.5);
    width: 400px;
    height: 150px;
    margin: auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.dormir {
    background-color: rgba(153, 192, 185, 0.5);
    width: 400px;
    height: 150px;
    margin: 10px auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.bici {
    background-color: rgba(153, 192, 185, 0.5);
    width: 400px;
    height: 150px;
    margin: 10px auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.abeja {
    background-color: rgba(153, 192, 185, 0.5);
    width: 770px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bianchi {
    background-color: rgba(153, 192, 185, 0.5);
    width: 770px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.algodon {
    background-color: rgba(153, 192, 185, 0.5);
    width: 770px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.suter {
    background-color: rgba(153, 192, 185, 0.5);
    width: 770px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rivier {
    background-color: rgba(153, 192, 185, 0.5);
    width: 770px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.superUco {
    background-color: rgba(153, 192, 185, 0.5);
    width: 630px;
    height: 230px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.andeluna {
    background-color: rgba(153, 192, 185, 0.5);
    width: 630px;
    height: 230px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.corazon {
    background-color: rgba(153, 192, 185, 0.5);
    width: 630px;
    height: 230px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.alfa {
    background-color: rgba(153, 192, 185, 0.5);
    width: 630px;
    height: 230px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.zuccardi {
    background-color: rgba(153, 192, 185, 0.5);
    width: 630px;
    height: 230px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    grid-area: imagen;
}

#encabezado {
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen header";
    align-items: center;
}

@media screen and (min-width: 320px) {

    p {
        font-size: 20px;
    }
    
    .size {
        display: none;
    }

    .fotos {
        display: none;
    }

    .mediana {
        width: 300px;
        height: 180px;
    }

    .renacer, .susanaBalbo, .riccitelli, .rosell, .catena, .casaVigil, .trapiche, .santaJulia, .agostino, .argentia, .abeja, .bianchi, .algodon, .suter, .rivier, .superUco, .andeluna, .corazon, .alfa, .zuccardi, .sunsets, .bici, .dormir {
        width: auto;
    }
}

@media screen and (min-width: 1200px) {

    p {
        font-size: 30px;
    }
    
    .size {
        display: block;
    }

    .fotos {
        display: block;
    }

    .mediana {
        width: 450px;
        height: 290px;
    }

    .renacer, .susanaBalbo, .riccitelli, .rosell, .catena, .casaVigil, .trapiche, .santaJulia, .agostino, .argentia, .abeja, .bianchi, .algodon, .suter, .rivier, .superUco, .andeluna, .corazon, .alfa, .zuccardi {
        width: 770px;
    }

    .sunsets, .bici, .dormir {
        width: 400px;
    }
}
