@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200&family=Roboto:wght@300&display=swap');

$colorBackground: rgba(153, 192, 185, 0.5);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gantari', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right top, #10BC10, #31ED31, #2AB67B, #11A7BB);
    min-height: 100vh;
}

.color:hover {
    background-color: rgba(103, 123, 176, 0.3);
    height: 40px;
}

#menu {
    background-color: rgba(163, 235, 177, 0.5);
    font-size: 1.8em;
    font-weight: bold;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    .navbar-nav {
        flex-direction: column;
    }
}

a {
    color: black;
    padding: 0px 10px 0px 10px;
    grid-area: imagen;
    text-decoration: none;
    &:hover {
        color: black;
    }
}

a.navbar-brand {
    padding: 0px;
    margin: 0px;
}

.decoracion {
    color: black;
}

.tamano {
    width: 150px;
    height: 150px;
}

p {
    color: black;
    margin: 30px 0px 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.mediana {
    width: 450px;
    height: 290px;
    &:hover {
        filter: grayscale(60%);
    }
}

.pequeno {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.fotos {
    height: 150px;
    width: 200px;
}

.padreFlexible {
    /*background-color: #677bb0;*/
    height: 1300px;
    /*width: 650px;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
 
h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0px;
    color: black;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    color: black;
}

footer {
    margin: 15px 0px;
}

#encabezado {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen header";
    align-items: center;
}

.style {
    list-style: none;
}
 
div.container-fluid {
    padding-right: 0px;
}

@mixin flex-row-space-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

$lujan: (
    ancho: 650px,
    largo: 200px,
);

.renacer {
    background-color: $colorBackground;
    width: map-get($lujan, ancho);
    height: map-get($lujan, largo);
    margin: auto;
    @include flex-row-space-center;
}

.susanaBalbo {
    background-color: $colorBackground;
    width: map-get($lujan, ancho);
    height: map-get($lujan, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.riccitelli {
    background-color: $colorBackground;
    width: map-get($lujan, ancho);
    height: map-get($lujan, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.rosell {
    background-color: $colorBackground;
    width: map-get($lujan, ancho);
    height: map-get($lujan, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.catena {
    background-color: $colorBackground;
    width: map-get($lujan, ancho);
    height: map-get($lujan, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

$maipu: (
    ancho: 650px,
    largo: 250px,
);

.casaVigil {
    background-color: $colorBackground;
    width: map-get($maipu, ancho);
    height: map-get($maipu, largo);
    margin: auto;
    @include flex-row-space-center;
}

.trapiche {
    background-color: $colorBackground;
    width: map-get($maipu, ancho);
    height: map-get($maipu, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.santaJulia {
    background-color: $colorBackground;
    width: map-get($maipu, ancho);
    height: map-get($maipu, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.agostino {
    background-color: $colorBackground;
    width: map-get($maipu, ancho);
    height: map-get($maipu, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.argentia {
    background-color: $colorBackground;
    width: map-get($maipu, ancho);
    height: map-get($maipu, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

$actividades: (
    ancho: 400px,
    largo: 200px,
);

.sunsets {
    background-color: $colorBackground;
    width: map-get($actividades, ancho);
    height: map-get($actividades, largo);
    margin: auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.dormir {
    background-color: $colorBackground;
    width: map-get($actividades, ancho);
    height: map-get($actividades, largo);
    margin: 10px auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.bici {
    background-color: $colorBackground;
    width: map-get($actividades, ancho);
    height: map-get($actividades, largo);
    margin: 10px auto;
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

$sanRa: (
    ancho: 770px,
    largo: 200px,
);

.abeja {
    background-color: $colorBackground;
    width: map-get($sanRa, ancho);
    height: map-get($sanRa, largo);
    margin: auto;
    @include flex-row-space-center;
}

.bianchi {
    background-color: $colorBackground;
    width: map-get($sanRa, ancho);
    height: map-get($sanRa, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.algodon {
    background-color: $colorBackground;
    width: map-get($sanRa, ancho);
    height: map-get($sanRa, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.suter {
    background-color: $colorBackground;
    width: map-get($sanRa, ancho);
    height: map-get($sanRa, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.rivier {
    background-color: $colorBackground;
    width: map-get($sanRa, ancho);
    height: map-get($sanRa, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

$ucoValley: (
    ancho: 630px,
    largo: 230px,
);

.superUco {
    background-color: $colorBackground;
    width: map-get($ucoValley, ancho);
    height: map-get($ucoValley, largo);
    margin: auto;
    @include flex-row-space-center;
}

.andeluna {
    background-color: $colorBackground;
    width: map-get($ucoValley, ancho);
    height: map-get($ucoValley, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.corazon {
    background-color: $colorBackground;
    width: map-get($ucoValley, ancho);
    height: map-get($ucoValley, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.alfa {
    background-color: $colorBackground;
    width: map-get($ucoValley, ancho);
    height: map-get($ucoValley, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

.zuccardi {
    background-color: $colorBackground;
    width: map-get($ucoValley, ancho);
    height: map-get($ucoValley, largo);
    margin: 10px auto;
    @include flex-row-space-center;
}

@import "small";

@import "medium";

@import "large";